@font-face {
    font-family: fredoka;
    src: url('./fonts/fredoka/Fredoka-Regular.ttf');
}

@font-face {
    font-family: fredoka;
    src: url(./fonts/fredoka/Fredoka-SemiBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: caprasimo;
    src: url(./fonts/caprasimo/Caprasimo-Regular.ttf);
}

* {
    margin: 0;
    font-family: fredoka;
}

body {
    margin: 0;
    background-image: url("./images/dailymon-bg.png");
    background-size: contain;
}

header {
    margin: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5E228C;
    border-bottom: 10px solid #471A69;
}

header > div {
    display: flex;
    align-items: center;
}

header > div > span {
    font-family: caprasimo;
    font-size: 96px;
    color: white;
    text-shadow: 2px 4px 5px black;
}

#search_bar {
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: -10px;
}

#search_input {
    padding: 10px 15px 10px 15px;
    width: 475px;
    max-width: 475px;
    background-color: #734893;
    border-width: 0px;
    color: white;
    border-radius: 0.5rem;
    background-image: url('../static/images/search-icon.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;
    padding-left: 45px;
    height: 35px; 
    font-size: 16px; 
    box-sizing: border-box; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 100px 70px 100px;
    background-color: white;
    padding: 45px;
    
    border-radius: 10px;
}

main > h2 {
    font-size: 48px;
    margin-bottom: 10px;
    font-family: caprasimo;
}

#pokemon_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    
    justify-content: center;
    align-items: center;
    
    border: 3px solid #312E2E;
    border-radius: 10px;
}

#pokemon_name {
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
    padding: 5px 35px 5px 35px;
    border: 3px solid black;
    border-radius: 10px;
}

#pokemon_information {
    display: flex;
    justify-content: space-between;
    gap: 135px;
    margin-bottom: 50px;

    font-size: 16px;
}

.base_stats {
    font-weight: bold;
}

.base_stats > span,
.pokedex_data > span {
    font-size: 40px;
    font-weight: bold;
}


.stat_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stat_bar_container {
    width: 350px;
    height: 13px;
}

.stat_bar {
    height: 100%;
    background-color: #FF7F0F;
    border-radius: 4px;
    border: 1px solid #000;
}

.pk_text_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 15px 3px 15px;

    width: 90%;
}

.pokedex_data {
    width: 100%;
}