<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='../static/favicon/favicon.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/style.css') }}">
    <title>DailyMon</title>
</head>
<body>
    <header>
        <div>
            <img src="../static/images/Spiritomb.png" alt="imagem ao lado do titulo" width="125px">
            <span id="header_title">DailyMon</span>
        </div>
        <div id="search_bar">
            <form action="/" method="get">
                <input  type="text" name="search_pokemon" placeholder="Pesquise um Pokemon..." id="search_input" required>
            </form>
            <img src="../static/images/ditto 1.png" alt="pokemon beside search bar">
        </div>
    </header>
    <main>
        <h2>O Pokemon do dia é:</h2>
        {% block pokemon_container %}
        {% endblock %}
    </main>
</body>
</html>