<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='../static/favicon/favicon.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/style.css') }}">
    <title>DailyMon</title>
</head>
<body>
    <header>
        <img src="../static/images/Spiritomb.png" alt="imagem ao lado do titulo" width="125px">
        <span id="header_title">DailyMon</span>
        <div id="search_bar">
            
        </div>
    </header>
    <main>
        <h2>O Pokemon do dia é:</h2>
        {% block pokemon_container %}
        {% endblock %}
    </main>
</body>
</html>