{% extends "base.html" %}
{% block pokemon_container %}
<h2>O Pokemon do dia é:</h2>

<div id="pokemon_container">
  <span id="pokemon_name">{{pokemon_name.capitalize()}}</span>
  <img
    src="{{ pokemon_image_link }}"
    alt="pokemon"
    id="pokemon_image"
    width="300px"
  />
  <div id="pokemon_information">
    <div class="base_stats">
      <span>Status Base</span>
      <hr />
      {% for stat_key, stat in base_stats.items() %}
      <div class="stat_container">
        <div class="pk_text_container">
          <div>
            <b>{{ stat_key.capitalize() }}</b>
          </div>
          <div>
            {{ stat }}
          </div>
        </div>
        {% if stat_key != 'total' %}
        <div class="stat_bar_container">
          <div
            class="stat_bar"
            style="width:{{ (stat / base_stats['total']) * 200 }}%; background-color:
            {% if (stat) >= 150 %}
              #00c2b8;
            {% elif (stat) >= 120 %}
              #23cd5e;
            {% elif (stat) >= 90 %}
              #a0e515;
            {% elif (stat) >= 60 %}
              #ffdd57;
            {% elif (stat) >= 30 %}
              #ff7f0f;
            {% elif (stat) >= 1 %}
              #f34444;
            {% endif %}"
          ></div>
        </div>
        {% else %}
        <div class="stat_bar_container"></div>
        {% endif %}
      </div>
      <hr />
      {% endfor %}
    </div>
    <div class="pokedex_data">
      <span>Dados da Pokedex</span>
      <hr />
      {% for pk_data_key, pk_data in pokedex_data.items() %}
      <div class="pk_text_container">
        <div>
          <b>{{ pk_data_key.capitalize() }}</b>
        </div>
        <div>
          {% if pk_data_key == 'abilities' %}
          {% for ability in pk_data %}
          {{ ability }} <br />
          {% endfor %}
          {% elif pk_data_key == 'types' %}
          {{ ', '.join(pk_data) }}
          {% elif pk_data_key == 'height' %}
          {{ pk_data }} m
          {% elif pk_data_key == 'weight' %}
          {{ pk_data }} kg
          {% else %}
          {{ pk_data }}
          {% endif %}
        </div>
      </div>
      <hr />
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
